@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette, 
    tertiary: mat.$orange-palette, 
  ),
  density: (
    scale: 0,
  ),
));

html {
  height: 100%;
  @include mat.theme($my-theme);
}

body {
  margin: 0;
  height: 100%;
  color-scheme: light;
  
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
}

body.dark-theme {
  color-scheme: dark;
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    density: (
      scale: 0,
    ),
  ));
  background-color: #121414 !important; 
  color: var(--mat-sys-on-surface) !important;
}
.select-panel-above {
  z-index: 9999 !important;
}
